# Copy to terraform.tfvars to override defaults
# location      = "centralus"
# resource_group_name = "tf-aca-rg"
# name_prefix   = "sebsibe-aca"
# acr_name      = "tfaca7870acr"
# container_image = "nginx:latest"
# target_port   = 80
